openapi: 3.0.3
info:
  title: 'Chaingateway API Documentation'
  description: "\nChaingateway is a REST API for interactiong with Multiple Blockchain Networks like Ethereum, Binance Smart Chain, Tron, and more.\n\n## Authentication\nYou will need to add your Bearer Token to your `Authorization` header to authenticate your requests.\n\nFind more information about it <a href='/developers/'>here</a>.\n\n## Networks\nThe API supports multiple networks, including Mainnets and testnets.\n\nTo switch to testnet api, simply add `X-Network` header to your request with value `testnet`.\n\nIf you want to use mainnet api, you can either remove the `X-Network` header or set it to `mainnet`.\n\nYou can find more information about the networks\n<a href='/developers/getting-started/supported-networks'>here</a>.\n\n## Additional resources\n<a href='/developers'>Developer Portal</a>\n\n<a href='/developers/getting-started/quickstart'>Quick Start</a>\n\n<a href='/developers/getting-started/faq'>FAQ</a>\n\n<a href='/developers/tutorials'>Tutorials</a>\n\n"
  version: 2.1.0
servers:
  -
    url: 'https://app.chaingateway.io'
tags:
  -
    name: ''
    description: 'Description for '
  -
    name: 'Tron Blockchain Queries'
    description: 'Description for Tron Blockchain Queries'
  -
    name: 'Tron Transactions'
    description: 'Description for Tron Transactions'
  -
    name: 'Tron Addresses'
    description: 'Description for Tron Addresses'
  -
    name: 'Tron Staking'
    description: 'Description for Tron Staking'
  -
    name: 'Tron Paymaster'
    description: 'Description for Tron Paymaster'
  -
    name: 'Tron Webhooks'
    description: 'Description for Tron Webhooks'
  -
    name: 'Ethereum Blockchain Queries'
    description: 'Description for Ethereum Blockchain Queries'
  -
    name: 'Ethereum Transactions'
    description: 'Description for Ethereum Transactions'
  -
    name: 'Ethereum Addresses'
    description: 'Description for Ethereum Addresses'
  -
    name: 'Ethereum Webhooks'
    description: 'Description for Ethereum Webhooks'
  -
    name: 'BSC Blockchain Queries'
    description: 'Description for BSC Blockchain Queries'
  -
    name: 'BSC Transactions'
    description: 'Description for BSC Transactions'
  -
    name: 'BSC Addresses'
    description: 'Description for BSC Addresses'
  -
    name: 'BSC Webhooks'
    description: 'Description for BSC Webhooks'
  -
    name: 'Solana Addresses'
    description: 'Description for Solana Addresses'
  -
    name: 'Solana Blockchain Queries'
    description: 'Description for Solana Blockchain Queries'
  -
    name: 'Solana Transactions'
    description: 'Description for Solana Transactions'
  -
    name: 'Polygon Blockchain Queries'
    description: 'Description for Polygon Blockchain Queries'
  -
    name: 'Polygon Transactions'
    description: 'Description for Polygon Transactions'
  -
    name: 'Polygon Addresses'
    description: 'Description for Polygon Addresses'
  -
    name: 'Polygon Webhooks'
    description: 'Description for Polygon Webhooks'
  -
    name: 'Bitcoin Blockchain Queries'
    description: 'Description for Bitcoin Blockchain Queries'
  -
    name: 'Bitcoin Transactions'
    description: 'Description for Bitcoin Transactions'
  -
    name: 'Bitcoin Wallets'
    description: 'Description for Bitcoin Wallets'
  -
    name: 'Bitcoin Webhooks'
    description: 'Description for Bitcoin Webhooks'
  -
    name: 'Arbitrum Blockchain Queries'
    description: 'Description for Arbitrum Blockchain Queries'
  -
    name: 'Arbitrum Transactions'
    description: 'Description for Arbitrum Transactions'
  -
    name: 'Arbitrum Addresses'
    description: 'Description for Arbitrum Addresses'
  -
    name: 'Arbitrum Webhooks'
    description: 'Description for Arbitrum Webhooks'
  -
    name: 'Cryptocurrency Prices'
    description: 'Description for Cryptocurrency Prices'
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>API tokens</b> in your user menu.'
security:
  -
    default: []
paths:
  /api/account:
    get:
      summary: 'Get account info'
      operationId: getAccountInfo
      description: ''
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: false
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  ok: true
                  message: 'Account info fetched'
                  data:
                    plan: PLUS
                    is_subscribed: 'true'
                    is_yearly: 0
                    ends_at: 25-05-03
                    quota_reset: null
                    status: active
                    payment_method: crypto
                    crypto_payment:
                      currency: USDT_TRC20
                      address: trx-84ab3d15d6de4a87b5f8686b28094f0d
                      eur_amount: '49.00'
                      crypto_amount: '60.04'
                      qr_code: 'https://sandbox.api.forumpay.com/pay/qr/?d=https%3A%2F%2Fsandbox.dashboard.forumpay.com%2Fpay%2FsandboxWallet.transfer%3Fcurrency%3DUSDT_TRC20%26address%3Dtrx-84ab3d15d6de4a87b5f8686b28094f0d'
                properties:
                  status:
                    type: integer
                    example: 200
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Account info fetched'
                  data:
                    type: object
                    properties:
                      plan:
                        type: string
                        example: PLUS
                      is_subscribed:
                        type: string
                        example: 'true'
                      is_yearly:
                        type: integer
                        example: 0
                      ends_at:
                        type: string
                        example: 25-05-03
                      quota_reset:
                        type: string
                        example: null
                      status:
                        type: string
                        example: active
                      payment_method:
                        type: string
                        example: crypto
                      crypto_payment:
                        type: object
                        properties:
                          currency:
                            type: string
                            example: USDT_TRC20
                          address:
                            type: string
                            example: trx-84ab3d15d6de4a87b5f8686b28094f0d
                          eur_amount:
                            type: string
                            example: '49.00'
                          crypto_amount:
                            type: string
                            example: '60.04'
                          qr_code:
                            type: string
                            example: 'https://sandbox.api.forumpay.com/pay/qr/?d=https%3A%2F%2Fsandbox.dashboard.forumpay.com%2Fpay%2FsandboxWallet.transfer%3Fcurrency%3DUSDT_TRC20%26address%3Dtrx-84ab3d15d6de4a87b5f8686b28094f0d'
      tags:
        - ''
  /api/v2/tron/blocks/number:
    get:
      summary: 'Get the latest block number'
      operationId: getTheLatestBlockNumber
      description: 'This method returns the latest block number of the Tron blockchain'
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: false
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        200:
          description: 'latest block number'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  ok: true
                  message: 'Latest block number fetched'
                  data:
                    blocknumber: 44776190
                properties:
                  status:
                    type: integer
                    example: 200
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Latest block number fetched'
                  data:
                    type: object
                    properties:
                      blocknumber:
                        type: integer
                        example: 44776190
      tags:
        - 'Tron Blockchain Queries'
  '/api/v2/tron/blocks/{block_number}':
    get:
      summary: 'Get block by number or hash'
      operationId: getBlockByNumberOrHash
      description: 'This method returns the block by its number'
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: false
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  ok: true
                  message: 'Block fetched'
                  data:
                    blockID: 0000000002ab3a92bdd1ad8459d8d01e364b2d3e2d0edde631eecae17cd54f4e
                    block_header:
                      raw_data:
                        number: 44776082
                        txTrieRoot: 0c41bd85e72082e7e91854527fd5edfcd5ec2f452ec391ff8773638646c3a003
                        witness_address: 414bbb38ac8f2c666f56c16e0b21ccda04d18b6b6b
                        parentHash: 0000000002ab3a917a556bfc48c0110cbe32928150a57c3d3f0f5a76ac41d6ec
                        version: 28
                        timestamp: 1709216589000
                      witness_signature: c28e39d518a41cbb44791d9ed3707f18d2e940d46a3ad894fbf6a78e87e429c56cee1cd8f4f18f45cc9c4435c5a0149b4fcf11298837e97013072bae39a0023100
                    transactions:
                      -
                        ret:
                          -
                            contractRet: SUCCESS
                        signature:
                          - b59efa8d33316f25bbbab3633dfefef10af3c5f1ba0d798eb8a49c1da60b95414c0b69e1dd59564364bbedcd0475d61e5af6e8ee1dafbb49a41692ad42f30aaf01
                        txID: a1760f27ef993fb6ab73777fd88121bab7eff73e8b2099bdeeda6f027352cab3
                        raw_data:
                          contract:
                            -
                              parameter:
                                value:
                                  data: 0e99f793d577c125a59d385e58c5b2810ff69db870f2c28e9932e933b133339adc28bb310000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000134fb300000000000000000000000000000000000000000000000000000000000382da000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000065e093460000000000000000000000000000000000000000000000000000000000000000
                                  owner_address: 414223e592ed4e72289e8e1fc16774caef785c092a
                                  contract_address: 4187f9f4433e00eb0a1644e80d7159b1e54da21d31
                                type_url: type.googleapis.com/protocol.TriggerSmartContract
                              type: TriggerSmartContract
                          ref_block_bytes: 3a7f
                          ref_block_hash: 2a6ebc1bb5aee980
                          expiration: 1709216646000
                          fee_limit: 450000000
                          timestamp: 1709216587955
                        raw_data_hex: 0a023a7f22082a6ebc1bb5aee98040f08681aadf315ab003081f12ab030a31747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e54726967676572536d617274436f6e747261637412f5020a15414223e592ed4e72289e8e1fc16774caef785c092a12154187f9f4433e00eb0a1644e80d7159b1e54da21d3122c4020e99f793d577c125a59d385e58c5b2810ff69db870f2c28e9932e933b133339adc28bb310000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000134fb300000000000000000000000000000000000000000000000000000000000382da000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000065e09346000000000000000000000000000000000000000000000000000000000000000070b3c1fda9df31900180e9c9d601
                      -
                        ret:
                          -
                            contractRet: SUCCESS
                        signature:
                          - 439f51b1001c740f13c3344211dc0d1e2d5e00ffef57e246568b1e10ddcf503762675c2dd322a6f3ab2f15a798cf82689acf6d712e27b0ef8a46b98862a6b44a00
                        txID: 2c1f0fa4d57e949363da2913a4ab8aa7db9e61ba4e38cf9f53d48c1e5e566c23
                        raw_data:
                          contract:
                            -
                              parameter:
                                value:
                                  data: 0e99f793176d0e33517ba3c8634c5a7c22dc16773c1518dd49a84f90493a1c44edf8021e0000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000134fb300000000000000000000000000000000000000000000000000000000000382da000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000065e093450000000000000000000000000000000000000000000000000000000000000000
                                  owner_address: 41d132364a6570470e4226c47079a0fa558eb4c78c
                                  contract_address: 4126a733f2df06bb49dd6b7723cd033245108a4b47
                                type_url: type.googleapis.com/protocol.TriggerSmartContract
                              type: TriggerSmartContract
                          ref_block_bytes: 3a7f
                          ref_block_hash: 2a6ebc1bb5aee980
                          expiration: 1709216646000
                          fee_limit: 450000000
                          timestamp: 1709216588127
                        raw_data_hex: 0a023a7f22082a6ebc1bb5aee98040f08681aadf315ab003081f12ab030a31747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e54726967676572536d617274436f6e747261637412f5020a1541d132364a6570470e4226c47079a0fa558eb4c78c12154126a733f2df06bb49dd6b7723cd033245108a4b4722c4020e99f793176d0e33517ba3c8634c5a7c22dc16773c1518dd49a84f90493a1c44edf8021e0000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000134fb300000000000000000000000000000000000000000000000000000000000382da000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000065e09345000000000000000000000000000000000000000000000000000000000000000070dfc2fda9df31900180e9c9d601
                properties:
                  status:
                    type: integer
                    example: 200
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Block fetched'
                  data:
                    type: object
                    properties:
                      blockID:
                        type: string
                        example: 0000000002ab3a92bdd1ad8459d8d01e364b2d3e2d0edde631eecae17cd54f4e
                      block_header:
                        type: object
                        properties:
                          raw_data:
                            type: object
                            properties:
                              number:
                                type: integer
                                example: 44776082
                              txTrieRoot:
                                type: string
                                example: 0c41bd85e72082e7e91854527fd5edfcd5ec2f452ec391ff8773638646c3a003
                              witness_address:
                                type: string
                                example: 414bbb38ac8f2c666f56c16e0b21ccda04d18b6b6b
                              parentHash:
                                type: string
                                example: 0000000002ab3a917a556bfc48c0110cbe32928150a57c3d3f0f5a76ac41d6ec
                              version:
                                type: integer
                                example: 28
                              timestamp:
                                type: integer
                                example: 1709216589000
                          witness_signature:
                            type: string
                            example: c28e39d518a41cbb44791d9ed3707f18d2e940d46a3ad894fbf6a78e87e429c56cee1cd8f4f18f45cc9c4435c5a0149b4fcf11298837e97013072bae39a0023100
                      transactions:
                        type: array
                        example:
                          -
                            ret:
                              -
                                contractRet: SUCCESS
                            signature:
                              - b59efa8d33316f25bbbab3633dfefef10af3c5f1ba0d798eb8a49c1da60b95414c0b69e1dd59564364bbedcd0475d61e5af6e8ee1dafbb49a41692ad42f30aaf01
                            txID: a1760f27ef993fb6ab73777fd88121bab7eff73e8b2099bdeeda6f027352cab3
                            raw_data:
                              contract:
                                -
                                  parameter:
                                    value:
                                      data: 0e99f793d577c125a59d385e58c5b2810ff69db870f2c28e9932e933b133339adc28bb310000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000134fb300000000000000000000000000000000000000000000000000000000000382da000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000065e093460000000000000000000000000000000000000000000000000000000000000000
                                      owner_address: 414223e592ed4e72289e8e1fc16774caef785c092a
                                      contract_address: 4187f9f4433e00eb0a1644e80d7159b1e54da21d31
                                    type_url: type.googleapis.com/protocol.TriggerSmartContract
                                  type: TriggerSmartContract
                              ref_block_bytes: 3a7f
                              ref_block_hash: 2a6ebc1bb5aee980
                              expiration: 1709216646000
                              fee_limit: 450000000
                              timestamp: 1709216587955
                            raw_data_hex: 0a023a7f22082a6ebc1bb5aee98040f08681aadf315ab003081f12ab030a31747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e54726967676572536d617274436f6e747261637412f5020a15414223e592ed4e72289e8e1fc16774caef785c092a12154187f9f4433e00eb0a1644e80d7159b1e54da21d3122c4020e99f793d577c125a59d385e58c5b2810ff69db870f2c28e9932e933b133339adc28bb310000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000134fb300000000000000000000000000000000000000000000000000000000000382da000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000065e09346000000000000000000000000000000000000000000000000000000000000000070b3c1fda9df31900180e9c9d601
                          -
                            ret:
                              -
                                contractRet: SUCCESS
                            signature:
                              - 439f51b1001c740f13c3344211dc0d1e2d5e00ffef57e246568b1e10ddcf503762675c2dd322a6f3ab2f15a798cf82689acf6d712e27b0ef8a46b98862a6b44a00
                            txID: 2c1f0fa4d57e949363da2913a4ab8aa7db9e61ba4e38cf9f53d48c1e5e566c23
                            raw_data:
                              contract:
                                -
                                  parameter:
                                    value:
                                      data: 0e99f793176d0e33517ba3c8634c5a7c22dc16773c1518dd49a84f90493a1c44edf8021e0000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000134fb300000000000000000000000000000000000000000000000000000000000382da000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000065e093450000000000000000000000000000000000000000000000000000000000000000
                                      owner_address: 41d132364a6570470e4226c47079a0fa558eb4c78c
                                      contract_address: 4126a733f2df06bb49dd6b7723cd033245108a4b47
                                    type_url: type.googleapis.com/protocol.TriggerSmartContract
                                  type: TriggerSmartContract
                              ref_block_bytes: 3a7f
                              ref_block_hash: 2a6ebc1bb5aee980
                              expiration: 1709216646000
                              fee_limit: 450000000
                              timestamp: 1709216588127
                            raw_data_hex: 0a023a7f22082a6ebc1bb5aee98040f08681aadf315ab003081f12ab030a31747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e54726967676572536d617274436f6e747261637412f5020a1541d132364a6570470e4226c47079a0fa558eb4c78c12154126a733f2df06bb49dd6b7723cd033245108a4b4722c4020e99f793176d0e33517ba3c8634c5a7c22dc16773c1518dd49a84f90493a1c44edf8021e0000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000134fb300000000000000000000000000000000000000000000000000000000000382da000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000065e09345000000000000000000000000000000000000000000000000000000000000000070dfc2fda9df31900180e9c9d601
                        items:
                          type: object
                          properties:
                            ret:
                              type: array
                              example:
                                -
                                  contractRet: SUCCESS
                              items:
                                type: object
                                properties:
                                  contractRet:
                                    type: string
                                    example: SUCCESS
                            signature:
                              type: array
                              example:
                                - b59efa8d33316f25bbbab3633dfefef10af3c5f1ba0d798eb8a49c1da60b95414c0b69e1dd59564364bbedcd0475d61e5af6e8ee1dafbb49a41692ad42f30aaf01
                              items:
                                type: string
                            txID:
                              type: string
                              example: a1760f27ef993fb6ab73777fd88121bab7eff73e8b2099bdeeda6f027352cab3
                            raw_data:
                              type: object
                              properties:
                                contract:
                                  type: array
                                  example:
                                    -
                                      parameter: { value: { data: 0e99f793d577c125a59d385e58c5b2810ff69db870f2c28e9932e933b133339adc28bb310000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000134fb300000000000000000000000000000000000000000000000000000000000382da000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000065e093460000000000000000000000000000000000000000000000000000000000000000, owner_address: 414223e592ed4e72289e8e1fc16774caef785c092a, contract_address: 4187f9f4433e00eb0a1644e80d7159b1e54da21d31 }, type_url: type.googleapis.com/protocol.TriggerSmartContract }
                                      type: TriggerSmartContract
                                  items:
                                    type: object
                                    properties:
                                      parameter: { type: object, properties: { value: { type: object, properties: { data: { type: string, example: 0e99f793d577c125a59d385e58c5b2810ff69db870f2c28e9932e933b133339adc28bb310000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000134fb300000000000000000000000000000000000000000000000000000000000382da000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000065e093460000000000000000000000000000000000000000000000000000000000000000 }, owner_address: { type: string, example: 414223e592ed4e72289e8e1fc16774caef785c092a }, contract_address: { type: string, example: 4187f9f4433e00eb0a1644e80d7159b1e54da21d31 } } }, type_url: { type: string, example: type.googleapis.com/protocol.TriggerSmartContract } } }
                                      type: { type: string, example: TriggerSmartContract }
                                ref_block_bytes:
                                  type: string
                                  example: 3a7f
                                ref_block_hash:
                                  type: string
                                  example: 2a6ebc1bb5aee980
                                expiration:
                                  type: integer
                                  example: 1709216646000
                                fee_limit:
                                  type: integer
                                  example: 450000000
                                timestamp:
                                  type: integer
                                  example: 1709216587955
                            raw_data_hex:
                              type: string
                              example: 0a023a7f22082a6ebc1bb5aee98040f08681aadf315ab003081f12ab030a31747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e54726967676572536d617274436f6e747261637412f5020a15414223e592ed4e72289e8e1fc16774caef785c092a12154187f9f4433e00eb0a1644e80d7159b1e54da21d3122c4020e99f793d577c125a59d385e58c5b2810ff69db870f2c28e9932e933b133339adc28bb310000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000134fb300000000000000000000000000000000000000000000000000000000000382da000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000065e09346000000000000000000000000000000000000000000000000000000000000000070b3c1fda9df31900180e9c9d601
      tags:
        - 'Tron Blockchain Queries'
    parameters:
      -
        in: path
        name: block_number
        description: 'The block number'
        example: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
        required: true
        schema:
          type: string
  /api/v2/tron/transactions:
    get:
      summary: 'List all Transactions'
      operationId: listAllTransactions
      description: "This method lists your transaction history. It lists all transactions including TRC20 and TRC721 transactions. <br>\n Please note that we dont index your addresses. We list only transactions that were made with the Chaingateway API"
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: false
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        200:
          description: 'Paginated results'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  ok: true
                  message: 'Succesfully parsed transactions'
                  current_page: 1
                  data:
                    -
                      id: 1
                      user_id: 1
                      blockchain: tron
                      network: testnet
                      type: TRX
                      txid: '0xf5ed14c69911b1f15fa19946e7572486ec01d6fd40c3044753924798bc88d72b'
                      from: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                      to: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                      contractaddress: null
                      amount: '0.001000000000'
                      tokenid: null
                      responseJson: null
                      httpStatus: null
                      created_at: '2024-02-13T09:00:18.000000Z'
                      updated_at: '2024-02-13T09:00:18.000000Z'
                    -
                      id: 4
                      user_id: 1
                      blockchain: tron
                      network: testnet
                      type: TRX
                      txid: '0x5da4f33531fab8ecfe6f36a1300265f772b5f11c2da736a39b0b4b0c1b97c3e2'
                      from: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                      to: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                      contractaddress: null
                      amount: '0.384200000000'
                      tokenid: null
                      responseJson: null
                      httpStatus: null
                      created_at: '2024-02-13T10:01:26.000000Z'
                      updated_at: '2024-02-13T10:01:26.000000Z'
                    -
                      id: 5
                      user_id: 1
                      blockchain: bsc
                      network: testnet
                      type: ERC20
                      txid: '0x1b7ecf53527e9a9ec09c448b2f594357e8a09f52c02c96d0de33fe435750d371'
                      from: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                      to: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                      contractaddress: null
                      amount: '1.000000000000'
                      tokenid: null
                      responseJson: null
                      httpStatus: null
                      created_at: '2024-02-13T10:34:34.000000Z'
                      updated_at: '2024-02-13T10:34:34.000000Z'
                    -
                      id: 6
                      user_id: 1
                      blockchain: bsc
                      network: testnet
                      type: ERC20
                      txid: '0x5b293a7289e8405fb8402f0bfa6e7464fdc9bfbc11aaa7874d4a7216b4079729'
                      from: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                      to: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                      contractaddress: null
                      amount: '1.000000000000'
                      tokenid: null
                      responseJson: null
                      httpStatus: null
                      created_at: '2024-02-13T10:35:57.000000Z'
                      updated_at: '2024-02-13T10:35:57.000000Z'
                    -
                      id: 7
                      user_id: 1
                      blockchain: bsc
                      network: testnet
                      type: ERC20
                      txid: '0x8830bd8d0cf0dfeac6d4cc345888ae52f9ca8b3a3cf37859919786bd9cd8ae2f'
                      from: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                      to: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                      contractaddress: null
                      amount: '100.000000000000'
                      tokenid: null
                      responseJson: null
                      httpStatus: null
                      created_at: '2024-02-13T12:22:03.000000Z'
                      updated_at: '2024-02-13T12:22:03.000000Z'
                    -
                      id: 8
                      user_id: 1
                      blockchain: bsc
                      network: testnet
                      type: ERC20
                      txid: '0x73344d178812d4919e9002c560781f288030edf72ece88823ef1c377dfb71f27'
                      from: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                      to: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                      contractaddress: null
                      amount: '1.000000000000'
                      tokenid: null
                      responseJson: null
                      httpStatus: null
                      created_at: '2024-02-13T12:36:48.000000Z'
                      updated_at: '2024-02-13T12:36:48.000000Z'
                  first_page_url: 'http://testnet.chaingateway.test:81/api/v2/bsc/transactions?page=1'
                  from: 1
                  last_page: 1
                  last_page_url: 'http://testnet.chaingateway.test:81/api/v2/bsc/transactions?page=1'
                  links:
                    -
                      url: null
                      label: '&laquo; Previous'
                      active: false
                    -
                      url: 'http://testnet.chaingateway.test:81/api/v2/bsc/transactions?page=1'
                      label: '1'
                      active: true
                    -
                      url: null
                      label: 'Next &raquo;'
                      active: false
                  next_page_url: null
                  path: 'http://testnet.chaingateway.test:81/api/v2/bsc/transactions'
                  per_page: 50
                  prev_page_url: null
                  to: 6
                  total: 6
                properties:
                  status:
                    type: integer
                    example: 200
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Succesfully parsed transactions'
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        user_id: 1
                        blockchain: tron
                        network: testnet
                        type: TRX
                        txid: '0xf5ed14c69911b1f15fa19946e7572486ec01d6fd40c3044753924798bc88d72b'
                        from: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                        to: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                        contractaddress: null
                        amount: '0.001000000000'
                        tokenid: null
                        responseJson: null
                        httpStatus: null
                        created_at: '2024-02-13T09:00:18.000000Z'
                        updated_at: '2024-02-13T09:00:18.000000Z'
                      -
                        id: 4
                        user_id: 1
                        blockchain: tron
                        network: testnet
                        type: TRX
                        txid: '0x5da4f33531fab8ecfe6f36a1300265f772b5f11c2da736a39b0b4b0c1b97c3e2'
                        from: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                        to: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                        contractaddress: null
                        amount: '0.384200000000'
                        tokenid: null
                        responseJson: null
                        httpStatus: null
                        created_at: '2024-02-13T10:01:26.000000Z'
                        updated_at: '2024-02-13T10:01:26.000000Z'
                      -
                        id: 5
                        user_id: 1
                        blockchain: bsc
                        network: testnet
                        type: ERC20
                        txid: '0x1b7ecf53527e9a9ec09c448b2f594357e8a09f52c02c96d0de33fe435750d371'
                        from: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                        to: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                        contractaddress: null
                        amount: '1.000000000000'
                        tokenid: null
                        responseJson: null
                        httpStatus: null
                        created_at: '2024-02-13T10:34:34.000000Z'
                        updated_at: '2024-02-13T10:34:34.000000Z'
                      -
                        id: 6
                        user_id: 1
                        blockchain: bsc
                        network: testnet
                        type: ERC20
                        txid: '0x5b293a7289e8405fb8402f0bfa6e7464fdc9bfbc11aaa7874d4a7216b4079729'
                        from: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                        to: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                        contractaddress: null
                        amount: '1.000000000000'
                        tokenid: null
                        responseJson: null
                        httpStatus: null
                        created_at: '2024-02-13T10:35:57.000000Z'
                        updated_at: '2024-02-13T10:35:57.000000Z'
                      -
                        id: 7
                        user_id: 1
                        blockchain: bsc
                        network: testnet
                        type: ERC20
                        txid: '0x8830bd8d0cf0dfeac6d4cc345888ae52f9ca8b3a3cf37859919786bd9cd8ae2f'
                        from: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                        to: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                        contractaddress: null
                        amount: '100.000000000000'
                        tokenid: null
                        responseJson: null
                        httpStatus: null
                        created_at: '2024-02-13T12:22:03.000000Z'
                        updated_at: '2024-02-13T12:22:03.000000Z'
                      -
                        id: 8
                        user_id: 1
                        blockchain: bsc
                        network: testnet
                        type: ERC20
                        txid: '0x73344d178812d4919e9002c560781f288030edf72ece88823ef1c377dfb71f27'
                        from: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                        to: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                        contractaddress: null
                        amount: '1.000000000000'
                        tokenid: null
                        responseJson: null
                        httpStatus: null
                        created_at: '2024-02-13T12:36:48.000000Z'
                        updated_at: '2024-02-13T12:36:48.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        user_id:
                          type: integer
                          example: 1
                        blockchain:
                          type: string
                          example: tron
                        network:
                          type: string
                          example: testnet
                        type:
                          type: string
                          example: TRX
                        txid:
                          type: string
                          example: '0xf5ed14c69911b1f15fa19946e7572486ec01d6fd40c3044753924798bc88d72b'
                        from:
                          type: string
                          example: '0x261a8dE315f34b8e35B225e70159Dc612B3793dB'
                        to:
                          type: string
                          example: '0xbEA640f2BB84082Df3bFA459774c4A5b496CA054'
                        contractaddress:
                          type: string
                          example: null
                        amount:
                          type: string
                          example: '0.001000000000'
                        tokenid:
                          type: string
                          example: null
                        responseJson:
                          type: string
                          example: null
                        httpStatus:
                          type: string
                          example: null
                        created_at:
                          type: string
                          example: '2024-02-13T09:00:18.000000Z'
                        updated_at:
                          type: string
                          example: '2024-02-13T09:00:18.000000Z'
                  first_page_url:
                    type: string
                    example: 'http://testnet.chaingateway.test:81/api/v2/bsc/transactions?page=1'
                  from:
                    type: integer
                    example: 1
                  last_page:
                    type: integer
                    example: 1
                  last_page_url:
                    type: string
                    example: 'http://testnet.chaingateway.test:81/api/v2/bsc/transactions?page=1'
                  links:
                    type: array
                    example:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'http://testnet.chaingateway.test:81/api/v2/bsc/transactions?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          example: null
                        label:
                          type: string
                          example: '&laquo; Previous'
                        active:
                          type: boolean
                          example: false
                  next_page_url:
                    type: string
                    example: null
                  path:
                    type: string
                    example: 'http://testnet.chaingateway.test:81/api/v2/bsc/transactions'
                  per_page:
                    type: integer
                    example: 50
                  prev_page_url:
                    type: string
                    example: null
                  to:
                    type: integer
                    example: 6
                  total:
                    type: integer
                    example: 6
      tags:
        - 'Tron Transactions'
    post:
      summary: 'Send TRX'
      operationId: sendTRX
      description: "This method creates a new transaction. <br>\nIf the transaction is successful, it will return the transaction hash. <br>\nIf the transaction fails, it will return an error message. <br>"
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: true
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        201:
          description: 'Succesfully created transaction'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 201
                  ok: true
                  message: 'Succesfully created transaction'
                  data:
                    txid: '0x73344d178812d4919e9002c560781f288030edf72ece88823ef1c377dfb71f27'
                properties:
                  status:
                    type: integer
                    example: 201
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Succesfully created transaction'
                  data:
                    type: object
                    properties:
                      txid:
                        type: string
                        example: '0x73344d178812d4919e9002c560781f288030edf72ece88823ef1c377dfb71f27'
        422:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Insufficent funds'
                    type: object
                    example:
                      status: 422
                      ok: false
                      message: 'class org.tron.core.exception.ContractValidateException : Validate TransferContract error, balance is not sufficient.'
                      errors: []
                    properties:
                      status:
                        type: integer
                        example: 422
                      ok:
                        type: boolean
                        example: false
                      message:
                        type: string
                        example: 'class org.tron.core.exception.ContractValidateException : Validate TransferContract error, balance is not sufficient.'
                      errors:
                        type: array
                        example: []
                  -
                    description: 'Wrong privatekey'
                    type: object
                    example:
                      status: 422
                      ok: false
                      message: 'Validate signature error: 0984bea42fc16d38512ef3f3ae0ad36b7123d1804a8b284106005793d441b2dd2d1bfdad10ec2879e06a35bbb9a89f268b81b79bc35f6031784c32fe60eee65e01 is signed by TT61CoyUW1ZwkcpkZAcortLvpYk7TW4fgD but it is not contained of permission.'
                      errors: []
                    properties:
                      status:
                        type: integer
                        example: 422
                      ok:
                        type: boolean
                        example: false
                      message:
                        type: string
                        example: 'Validate signature error: 0984bea42fc16d38512ef3f3ae0ad36b7123d1804a8b284106005793d441b2dd2d1bfdad10ec2879e06a35bbb9a89f268b81b79bc35f6031784c32fe60eee65e01 is signed by TT61CoyUW1ZwkcpkZAcortLvpYk7TW4fgD but it is not contained of permission.'
                      errors:
                        type: array
                        example: []
      tags:
        - 'Tron Transactions'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: 'The amount to send.'
                  example: 1.0
                  nullable: false
                password:
                  type: string
                  description: 'This field is required when <code>privatekey</code> is not present.'
                  example: '|]|{+-'
                  nullable: false
                privatekey:
                  type: string
                  description: 'The private key of the sender.'
                  example: 708c419d1b9ae123047f70787a503b6ba51e048a27966e0220cc5feXXXXXXXXX
                  nullable: false
                to:
                  type: string
                  description: 'The address to send the transaction to. Must match the regex /^T[a-zA-Z0-9]{33}$/.'
                  example: TUwmZghA7u2GxGxKaxM1mkCmsTF4wHs4vp
                  nullable: false
                from:
                  type: string
                  description: 'The address to send the transaction from. Must match the regex /^T[a-zA-Z0-9]{33}$/.'
                  example: TLkkCeNdJKPNUwucdro84WjswkzM62LCTH
                  nullable: false
              required:
                - amount
                - to
                - from
    parameters:
      -
        in: path
        name: page
        description: 'Optional parameter. The page number'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: '1'
  '/api/v2/tron/transactions/{txid}':
    get:
      summary: 'Show Transaction'
      operationId: showTransaction
      description: "This method shows a transaction <br>\nIf the transaction is successful, it will return the transaction details. <br>\nIf the transaction fails, it will return an error message. <br>"
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: false
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        200:
          description: Transaction
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  ok: true
                  message: 'Succesfully parsed transaction receipt'
                  data:
                    transaction:
                      ret:
                        -
                          contractRet: SUCCESS
                      signature:
                        - b75218466a3c1a141f8a2e776ec02b8aed247175193cdfa15d6bcdecac686e782edf4623c758f3483876316189d1dcc7c2aae154210038a7562b57ee49fbe99400
                      txID: 1b66c3d50dc32690a352f3cec78cd247d02a57a5c521865fb2a137785f129a7d
                      raw_data:
                        contract:
                          -
                            parameter:
                              value:
                                amount: 1000000
                                owner_address: 41764e0536d24197cd869232bf7b09f58820cde9d2
                                to_address: 41d024bd62f3da57306ad1f9b469acdb66dc292912
                              type_url: type.googleapis.com/protocol.TransferContract
                            type: TransferContract
                        ref_block_bytes: '1159'
                        ref_block_hash: 2c0d8fbacaf7ced9
                        expiration: 1708979589000
                        timestamp: 1708979530210
                      raw_data_hex: 0a02115922082c0d8fbacaf7ced940889ffcb8de315a67080112630a2d747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e5472616e73666572436f6e747261637412320a1541764e0536d24197cd869232bf7b09f58820cde9d2121541d024bd62f3da57306ad1f9b469acdb66dc29291218c0843d70e2d3f8b8de31
                properties:
                  status:
                    type: integer
                    example: 200
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Succesfully parsed transaction receipt'
                  data:
                    type: object
                    properties:
                      transaction:
                        type: object
                        properties:
                          ret:
                            type: array
                            example:
                              -
                                contractRet: SUCCESS
                            items:
                              type: object
                              properties:
                                contractRet:
                                  type: string
                                  example: SUCCESS
                          signature:
                            type: array
                            example:
                              - b75218466a3c1a141f8a2e776ec02b8aed247175193cdfa15d6bcdecac686e782edf4623c758f3483876316189d1dcc7c2aae154210038a7562b57ee49fbe99400
                            items:
                              type: string
                          txID:
                            type: string
                            example: 1b66c3d50dc32690a352f3cec78cd247d02a57a5c521865fb2a137785f129a7d
                          raw_data:
                            type: object
                            properties:
                              contract:
                                type: array
                                example:
                                  -
                                    parameter:
                                      value: { amount: 1000000, owner_address: 41764e0536d24197cd869232bf7b09f58820cde9d2, to_address: 41d024bd62f3da57306ad1f9b469acdb66dc292912 }
                                      type_url: type.googleapis.com/protocol.TransferContract
                                    type: TransferContract
                                items:
                                  type: object
                                  properties:
                                    parameter:
                                      type: object
                                      properties: { value: { type: object, properties: { amount: { type: integer, example: 1000000 }, owner_address: { type: string, example: 41764e0536d24197cd869232bf7b09f58820cde9d2 }, to_address: { type: string, example: 41d024bd62f3da57306ad1f9b469acdb66dc292912 } } }, type_url: { type: string, example: type.googleapis.com/protocol.TransferContract } }
                                    type:
                                      type: string
                                      example: TransferContract
                              ref_block_bytes:
                                type: string
                                example: '1159'
                              ref_block_hash:
                                type: string
                                example: 2c0d8fbacaf7ced9
                              expiration:
                                type: integer
                                example: 1708979589000
                              timestamp:
                                type: integer
                                example: 1708979530210
                          raw_data_hex:
                            type: string
                            example: 0a02115922082c0d8fbacaf7ced940889ffcb8de315a67080112630a2d747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e5472616e73666572436f6e747261637412320a1541764e0536d24197cd869232bf7b09f58820cde9d2121541d024bd62f3da57306ad1f9b469acdb66dc29291218c0843d70e2d3f8b8de31
      tags:
        - 'Tron Transactions'
    parameters:
      -
        in: path
        name: txid
        description: 'The transaction hash'
        example: '0x7d3bC832A0860fD882FF4C2359e10268f4E5CCf8'
        required: true
        schema:
          type: string
  '/api/v2/tron/transactions/{txid}/decoded':
    get:
      summary: 'Show Decoded Transaction'
      operationId: showDecodedTransaction
      description: "This method shows a transaction with decoded values <br>\nIf the transaction is successful, it will return the transaction details. <br>\nIf the transaction fails, it will return an error message. <br>"
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: false
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        200:
          description: Transaction
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  ok: true
                  message: 'Succesfully parsed transaction receipt'
                  data:
                    transaction:
                      txid: 1b66c3d50dc32690a352f3cec78cd247d02a57a5c521865fb2a137785f129a7d
                      from: TLkkCeNdJKPNUwucdro84WjswkzM62LCTH
                      to: TUwmZghA7u2GxGxKaxM1mkCmsTF4wHs4vp
                      amount: '1.000000'
                      blocknumber: 44700012
                      confirmations: 55416
                      type: Tron
                properties:
                  status:
                    type: integer
                    example: 200
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Succesfully parsed transaction receipt'
                  data:
                    type: object
                    properties:
                      transaction:
                        type: object
                        properties:
                          txid:
                            type: string
                            example: 1b66c3d50dc32690a352f3cec78cd247d02a57a5c521865fb2a137785f129a7d
                          from:
                            type: string
                            example: TLkkCeNdJKPNUwucdro84WjswkzM62LCTH
                          to:
                            type: string
                            example: TUwmZghA7u2GxGxKaxM1mkCmsTF4wHs4vp
                          amount:
                            type: string
                            example: '1.000000'
                          blocknumber:
                            type: integer
                            example: 44700012
                          confirmations:
                            type: integer
                            example: 55416
                          type:
                            type: string
                            example: Tron
      tags:
        - 'Tron Transactions'
    parameters:
      -
        in: path
        name: txid
        description: 'The transaction hash'
        example: '0x7d3bC832A0860fD882FF4C2359e10268f4E5CCf8'
        required: true
        schema:
          type: string
  /api/v2/tron/addresses:
    post:
      summary: 'Create Address'
      operationId: createAddress
      description: "Creates a new address wich can be used to send and receive crypto currencies, ERC20 and ERC721 tokens.\nplease provide a stron password within the request body. You will need the password everytime you interact with your address.\n\nThere are two ways to create an Address:\n- unsecure: You will directly get the private key of your address which can be used to create transactions\n- secure: You define a password, the privatekley will use this password as well as our own encryption chain to store the privatekey on our database. You can use this password instead of a private key to create transactions\n\n<aside class=\"notice\">We do not store Passowrds! If you lose it, we cannot restore your wallet! </aside>"
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: true
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Address created'
                    type: object
                    example:
                      status: 201
                      ok: true
                      message: 'Address created'
                      data:
                        -
                          privateKey: 59f1c6200e01a2ca9471411f10198bfa63678d0e87cc2ca30f9c4a68dee78edc
                          publicKey: 040fe6e677442c36f7fdd5535ba3ff1cef0110d78363420f7e24b65298990e3467aed68b9a67e1396d84753db25b32a2fa3e1fc0a673f01638e9bcfab2d8f4ceb5
                          hexAddress: 41a56a6505ffbee78eb916dd44f4846874deddaebd
                          address: TR3qx91smURF3R455V1ubqtoUsZbgqikfg
                    properties:
                      status:
                        type: integer
                        example: 201
                      ok:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: 'Address created'
                      data:
                        type: array
                        example:
                          -
                            privateKey: 59f1c6200e01a2ca9471411f10198bfa63678d0e87cc2ca30f9c4a68dee78edc
                            publicKey: 040fe6e677442c36f7fdd5535ba3ff1cef0110d78363420f7e24b65298990e3467aed68b9a67e1396d84753db25b32a2fa3e1fc0a673f01638e9bcfab2d8f4ceb5
                            hexAddress: 41a56a6505ffbee78eb916dd44f4846874deddaebd
                            address: TR3qx91smURF3R455V1ubqtoUsZbgqikfg
                        items:
                          type: object
                          properties:
                            privateKey:
                              type: string
                              example: 59f1c6200e01a2ca9471411f10198bfa63678d0e87cc2ca30f9c4a68dee78edc
                            publicKey:
                              type: string
                              example: 040fe6e677442c36f7fdd5535ba3ff1cef0110d78363420f7e24b65298990e3467aed68b9a67e1396d84753db25b32a2fa3e1fc0a673f01638e9bcfab2d8f4ceb5
                            hexAddress:
                              type: string
                              example: 41a56a6505ffbee78eb916dd44f4846874deddaebd
                            address:
                              type: string
                              example: TR3qx91smURF3R455V1ubqtoUsZbgqikfg
                  -
                    description: 'Secure Address created'
                    type: object
                    example:
                      status: 201
                      ok: true
                      message: 'Address created'
                      data:
                        address: TR3qx91smURF3R455V1ubqtoUsZbgqikfg
                    properties:
                      status:
                        type: integer
                        example: 201
                      ok:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: 'Address created'
                      data:
                        type: object
                        properties:
                          address:
                            type: string
                            example: TR3qx91smURF3R455V1ubqtoUsZbgqikfg
      tags:
        - 'Tron Addresses'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: ''
                  example: '|]|{+-'
                  nullable: false
  '/api/v2/tron/addresses/{address}':
    delete:
      summary: 'Delete Address'
      operationId: deleteAddress
      description: 'This method will delete your address. This decreases your used address metrics'
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: false
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  ok: true
                  message: 'Address deleted'
                  data: []
                properties:
                  status:
                    type: integer
                    example: 200
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Address deleted'
                  data:
                    type: array
                    example: []
      tags:
        - 'Tron Addresses'
    post:
      summary: 'Update Address Password'
      operationId: updateAddressPassword
      description: ''
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: true
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  ok: true
                  message: 'Password updated'
                  data: []
                properties:
                  status:
                    type: integer
                    example: 200
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Password updated'
                  data:
                    type: array
                    example: []
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 422
                  ok: false
                  message: 'Data validation failed'
                  errors:
                    password:
                      - 'The password field is required.'
                properties:
                  status:
                    type: integer
                    example: 422
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Data validation failed'
                  errors:
                    type: object
                    properties:
                      password:
                        type: array
                        example:
                          - 'The password field is required.'
                        items:
                          type: string
      tags:
        - 'Tron Addresses'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                  description: 'The old password of the user.'
                  example: old_password123
                  nullable: false
                new_password:
                  type: string
                  description: 'The new password of the user.'
                  example: new_password123
                  nullable: false
              required:
                - old_password
                - new_password
    parameters:
      -
        in: path
        name: address
        description: 'The address you want to delete.'
        example: '0xd280406b68901ae4F2431d1830dF5232F49C19fA'
        required: true
        schema:
          type: string
  '/api/v2/tron/balances/{address}':
    get:
      summary: 'Get TRX balance'
      operationId: getTRXBalance
      description: 'This method returns the balance of the specified address'
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: false
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  ok: true
                  message: 'Balance fetched'
                  data:
                    balance: '9.615471'
                properties:
                  status:
                    type: integer
                    example: 200
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Balance fetched'
                  data:
                    type: object
                    properties:
                      balance:
                        type: string
                        example: '9.615471'
      tags:
        - 'Tron Blockchain Queries'
    parameters:
      -
        in: path
        name: address
        description: 'The address to fetch the balance for'
        example: TVF2Mp9QY7FEGTnr3DBpFLobA6jguHyMvi
        required: true
        schema:
          type: string
  '/api/v2/tron/balances/{address}/trc20/{contract_address}':
    get:
      summary: 'Get TRC20 balance'
      operationId: getTRC20Balance
      description: 'This method returns the balance of the specified address for the specified token'
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: false
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  ok: true
                  message: 'TRC20 balance fetched'
                  data:
                    tronaddress: TVF2Mp9QY7FEGTnr3DBpFLobA6jguHyMvi
                    decimals: 6
                    balance: '1000000000000000000'
                    contractaddress: TXLAQ63Xg1NAzckPwKHvzw7CSEmLMEqcdj
                properties:
                  status:
                    type: integer
                    example: 200
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'TRC20 balance fetched'
                  data:
                    type: object
                    properties:
                      tronaddress:
                        type: string
                        example: TVF2Mp9QY7FEGTnr3DBpFLobA6jguHyMvi
                      decimals:
                        type: integer
                        example: 6
                      balance:
                        type: string
                        example: '1000000000000000000'
                      contractaddress:
                        type: string
                        example: TXLAQ63Xg1NAzckPwKHvzw7CSEmLMEqcdj
      tags:
        - 'Tron Blockchain Queries'
    parameters:
      -
        in: path
        name: address
        description: 'The address to fetch the balance for'
        example: TVF2Mp9QY7FEGTnr3DBpFLobA6jguHyMvi
        required: true
        schema:
          type: string
      -
        in: path
        name: contract_address
        description: 'The contract address'
        example: TXLAQ63Xg1NAzckPwKHvzw7CSEmLMEqcdj
        required: true
        schema:
          type: string
  '/api/v2/tron/addresses/export/{address}':
    post:
      summary: ''
      operationId: postApiV2TronAddressesExportAddress
      description: ''
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: true
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 200
                  ok: true
                  message: 'Private key exported'
                  data:
                    private_key: 7d3bC832A0860fD882FF4C2359e10268f4E5CCf8
                properties:
                  status:
                    type: integer
                    example: 200
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Private key exported'
                  data:
                    type: object
                    properties:
                      private_key:
                        type: string
                        example: 7d3bC832A0860fD882FF4C2359e10268f4E5CCf8
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 422
                  ok: false
                  message: 'Data validation failed'
                  errors:
                    password:
                      - 'The password field is required.'
                properties:
                  status:
                    type: integer
                    example: 422
                  ok:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Data validation failed'
                  errors:
                    type: object
                    properties:
                      password:
                        type: array
                        example:
                          - 'The password field is required.'
                        items:
                          type: string
      tags:
        - 'Tron Addresses'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: ''
                  example: '|]|{+-'
                  nullable: false
    parameters:
      -
        in: path
        name: address
        description: ''
        example: architecto
        required: true
        schema:
          type: string
  /api/v2/tron/addresses/import:
    post:
      summary: 'Import Private key'
      operationId: importPrivateKey
      description: 'Import a Private key to use the secure wallet functionality for transactions.'
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: true
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 201
                  ok: true
                  message: 'Address imported successfully'
                  data: []
                properties:
                  status:
                    type: integer
                    example: 201
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Address imported successfully'
                  data:
                    type: array
                    example: []
      tags:
        - 'Tron Addresses'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                privatekey:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
              required:
                - address
                - privatekey
                - password
  /api/v2/tron/transactions/trc20:
    post:
      summary: 'Send TRC20 transaction'
      operationId: sendTRC20Transaction
      description: "This method creates a new TRC20 transaction. <br>\nIf the transaction is successful, it will return the transaction hash. <br>\nIf the transaction fails, it will return an error message. <br>"
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: true
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        201:
          description: 'Succesfully created transaction'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 201
                  ok: true
                  message: 'Succesfully created transaction'
                  data:
                    txid: '0x73344d178812d4919e9002c560781f288030edf72ece88823ef1c377dfb71f27'
                properties:
                  status:
                    type: integer
                    example: 201
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Succesfully created transaction'
                  data:
                    type: object
                    properties:
                      txid:
                        type: string
                        example: '0x73344d178812d4919e9002c560781f288030edf72ece88823ef1c377dfb71f27'
        422:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Insufficent funds'
                    type: object
                    example:
                      status: 422
                      ok: false
                      message: 'class org.tron.core.exception.ContractValidateException : Validate TransferContract error, balance is not sufficient.'
                      errors: []
                    properties:
                      status:
                        type: integer
                        example: 422
                      ok:
                        type: boolean
                        example: false
                      message:
                        type: string
                        example: 'class org.tron.core.exception.ContractValidateException : Validate TransferContract error, balance is not sufficient.'
                      errors:
                        type: array
                        example: []
                  -
                    description: 'Wrong privatekey'
                    type: object
                    example:
                      status: 422
                      ok: false
                      message: 'Validate signature error: 0984bea42fc16d38512ef3f3ae0ad36b7123d1804a8b284106005793d441b2dd2d1bfdad10ec2879e06a35bbb9a89f268b81b79bc35f6031784c32fe60eee65e01 is signed by TT61CoyUW1ZwkcpkZAcortLvpYk7TW4fgD but it is not contained of permission.'
                      errors: []
                    properties:
                      status:
                        type: integer
                        example: 422
                      ok:
                        type: boolean
                        example: false
                      message:
                        type: string
                        example: 'Validate signature error: 0984bea42fc16d38512ef3f3ae0ad36b7123d1804a8b284106005793d441b2dd2d1bfdad10ec2879e06a35bbb9a89f268b81b79bc35f6031784c32fe60eee65e01 is signed by TT61CoyUW1ZwkcpkZAcortLvpYk7TW4fgD but it is not contained of permission.'
                      errors:
                        type: array
                        example: []
      tags:
        - 'Tron Transactions'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: 'The address to send the transaction from.'
                  example: TLkkCeNdJKPNUwucdro84WjswkzM62LCTH
                  nullable: false
                to:
                  type: string
                  description: 'The address to send the transaction to.'
                  example: TUwmZghA7u2GxGxKaxM1mkCmsTF4wHs4vp
                  nullable: false
                contractaddress:
                  type: string
                  description: 'The contract address of the token.'
                  example: 0x708c419d1b9ae123047f70787a503b6ba51e048a27966e0220cc5feXXXXXXXXX
                  nullable: false
                amount:
                  type: number
                  description: 'The amount to send.'
                  example: 1.0
                  nullable: false
                password:
                  type: string
                  description: 'The password to unlock the wallet if you working with a password protected wallet created with chaingateway. . This field is required when <code>privatekey</code> is not present.'
                  example: password123
                  nullable: false
                privatekey:
                  type: string
                  description: 'The private key to sign the transaction, only needed if working with non-secure chaingateway wallet.'
                  example: '123456'
                  nullable: false
              required:
                - from
                - to
                - contractaddress
                - amount
  /api/v2/tron/transactions/trc721:
    post:
      summary: 'Send TRC721 transactions'
      operationId: sendTRC721Transactions
      description: "This method creates a new TRC721 transaction. <br>\nIf the transaction is successful, it will return the transaction hash. <br>\nIf the transaction fails, it will return an error message. <br>"
      parameters:
        -
          in: header
          name: X-Network
          description: 'Specify "testnet" for test network or leave empty for main network. Defaults to "mainnet" if not provided.'
          required: false
          schema:
            type: string
            enum:
              - testnet
              - mainnet
            default: mainnet
        -
          in: header
          name: Authorization
          description: 'Bearer token for authorization. Required for authenticated endpoints.'
          required: true
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: 'The MIME type of the request body.'
          required: true
          schema:
            type: string
            enum:
              - application/json
              - application/x-www-form-urlencoded
              - multipart/form-data
            default: application/json
      responses:
        201:
          description: 'Succesfully created transaction'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 201
                  ok: true
                  message: 'Succesfully created transaction'
                  data:
                    txid: '0x73344d178812d4919e9002c560781f288030edf72ece88823ef1c377dfb71f27'
                properties:
                  status:
                    type: integer
                    example: 201
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Succesfully created transaction'
                  data:
                    type: object
                    properties:
                      txid:
                        type: string
                        example: '0x73344d178812d4919e9002c560781f288030edf72ece88823ef1c377dfb71f27'
        422:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Insufficent funds'
                    type: object
                    example:
                      status: 422
                      ok: false
                      message: 'class org.tron.core.exception.ContractValidateException : Validate TransferContract error, balance is not sufficient.'
                      errors: []
                    properties:
                      status:
                        type: integer
                        example: 422
                      ok:
                        type: boolean
                        example: false
                      message:
                        type: string
                        example: 'class org.tron.core.exception.ContractValidateException : Validate TransferContract error, balance is not sufficient.'
                      errors:
                        type: array
                        example: []
                  -
                    description: 'Wrong privatekey'
                    type: object
                    example:
                      status: 422
                      ok: false
[...]
